@{
    ViewData["Title"] = "About";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>@ViewData["Owner"]</p>

<address>
    <strong>More info (amazon):</strong> <a href="https://www.amazon.com.br/">Got to Amazon site</a>
</address>